QUADLEK_API_TOKEN={{ slack_api_token }}
QUADLEK_VERIFICATION_TOKEN={{ slack_verification_token }}
QUADLEK_DB_PATH=/opt/quadlek/quadlek.db
QUADLEK_TVDB_TOKEN={{ tvdb_token }}
QUADLEK_TWITTER_CONSUMER_KEY={{ twitter_consumer_key }}
QUADLEK_TWITTER_CONSUMER_SECRET={{ twitter_consumer_secret }}
QUADLEK_TWITTER_ACCESS_TOKEN={{ twitter_access_token }}
QUADLEK_TWITTER_ACCESS_SECRET={{ twitter_access_secret }}
QUADLEK_COINBASE_KEY={{ coinbase_key }}
QUADLEK_COINBASE_SECRET={{ coinbase_secret }}
QUADLEK_COINBASE_BANK_ACCOUNT={{ coinbase_bank_account }}
SPOTIFY_ID={{ spotify_id }}
SPOTIFY_SECRET={{ spotify_secret }}
